/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/Strawberries-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}

.center {
    width: 40%; /* ------ This is for responsiveness -------*/
	min-width: 300px; /* ----- This is for responsiveness -----*/
	border-radius: 40px; /*----This is for rounded corners------*/
	padding: 2%;
    margin: 100px auto;
 	background: rgba(255, 255, 255, 0.95); /*this uses opacity of 90% for the background color*/
	text-align: center;
}

   
#logo {
    width: 70%; /* ----- This is for responsiveness ------ */
	margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: "adlery-pro-swash", sans-serif; /* ----- Changed font -----*/
	font-size: 2.6em; /*---Increased Font----*/
    margin: 0px auto 10px auto;
    color: #000000; /*---- Changed color ------*/
}

h2 {
	font-family: "modern-love-caps", sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #000000; /*---- Changed Color----*/
    padding: 0px 0px;
    margin: 40px auto 25px auto; /*-----Changed Margin----*/
}

p {
	font-family: "modern-love-caps", sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #000000; /*---- Changed Color -----*/
}
nav{
	font-family: "modern-love-caps", sans-serif;
	font-size: 1.2 em;
	width: 80%; /* -------- This is for responsiveness --------*/
	margin: 0 auto;
	border: solid rgb(249, 77, 77); /* ----- Changed color and to solid lines----- */
	background-color: rgb(255, 213, 213);
	border-width: 2.5px; 
	text-align: center;
	margin-top: 1.5em;
}
nav li{
	display: inline;
}
nav a{
	display: inline-block;
	padding: 6px; /*----Shortened Nav bar----*/
}
a{
	color:#000000;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: black;
	background: rgb(249, 77, 77);
}

    
    

